{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h1>Send an SMS</h1>
<form action="" method="post" name="sms">
    {{ form.hidden_tag() }}
    <p>
        To:<br />
        {{ form.to }}<br />
        {% for error in form.to.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br />
    </p>
    <p>
        Message:<br />
        {{ form.body }}<br />
        {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p><input type="submit" value="Send"></p>
</form>

{% endblock %}
